{% extends "layout.html" %}

{% block body %}

{% if user %}
    <a href="{{ url_for('logout', user=user) }}">Logout</a>
    {% for n in range(users|length)%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{users[n]}}</h5>
            <p class="card-text">{{text[n]}}</p>
        </div>
    </div>
    {% endfor %}
    <a href={{ url_for('dashboard', user=user) }}>your Dashboard</a>
{% else %}
    <h1>Please Login to allSacredTexts</h1>
{% endif %}

{% endblock %}