{% extends "layout.html" %}

{% block body %}

{% if user %}
    <a href="{{ url_for('logout', user=user) }}">Logout</a>
    {% for n in range(users|length)%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{users[n]}}</h5>
            <p class="card-text">{{text[n]}}</p>
            {% if edited[n] !=0 %}
                <p><a href="{{ url_for('edit', user= user, id = ids[n]) }}">edited</a></p>
            {% else %}
                <p><a href ="{{ url_for('edit', user= user, id = ids[n]) }}">edit</a></p>
            {% endif %}
            <p><a href = "{{ url_for('delete', user = user, id = ids[n]) }}">delete</a></p>
        </div>
    </div>
    {% endfor %}
    <a href={{ url_for('dashboard', user=user) }}>your Dashboard</a>
{% else %}
    <h1>Please Login to allSacredTexts</h1>
{% endif %}

{% endblock %}