{% extends "layout.html" %}
{% block body %}
{% if user %}
    <a href="{{ url_for('logout', user=user) }}">Logout</a>
    {% for n in range(text|length) %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user}}</h5>
            <p class="card-text">{{text[n]}}</p>
            {% if edited[n] !=0 %}
                <p><a href = {{ url_for('edit', id=ids[n], user = user) }}>edited</a></p>
            {% else %}
                <p><a href = {{ url_for('edit', id=ids[n], user = user) }}>edit</a></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <a href="{{ url_for('addText', user=user) }}">AddText</a>
    <a href="{{ url_for('allSacredTexts', user=user) }}">ViewAllTextsHere</a>
{% else %}
    <h1>Please Login to view your Dashboard</h1>
{% endif %}
{% endblock %}