{% extends "layout.html" %}
{% block body %}
{% if user %}
    <a href="{{ url_for('logout', user=user) }}">Logout</a>
    {% with status = get_flashed_messages() %}
        {% if status %}
            <div class="alert alert-info" role="alert">
                <p>{{ status[0] }}</p>
            </div>
        {% endif %}
    {% endwith %}
    {% for n in range(text|length) %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user}}</h5>
            <p class="card-text">{{text[n]}}</p>
            <p><a href = {{ url_for('edit', id=ids[n], user = user) }}>edit</a></p>
            <p><a href = "{{ url_for('delete', user = user, id = ids[n]) }}">delete</a></p>
        </div>
    </div>
    {% endfor %}
    <a href="{{ url_for('addText', user=user) }}">AddText</a><br>
    <a href="{{ url_for('allSacredTexts', user=user) }}">ViewAllTextsHere</a><br>
{% else %}
    <h1>Please Login to view your Dashboard</h1>
{% endif %}
{% endblock %}