{% extends "layout.html" %}

{% block body %}

<h1>Text Share</h1>
<h3>A website to share text between people</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci laudantium quam debitis, architecto quidem perspiciatis sunt tempore, blanditiis, laboriosam necessitatibus facilis? Reiciendis reprehenderit amet non, voluptatum alias quidem illum?</p>

<ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
</ul>

<ol>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
</ol>

{% endblock %}